* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 50px;
    color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: cornflowerblue;
}

header div p {
    display: inline;
}

main {
    margin: 0 250px 0 250px;
    text-align: center;
}

main h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

main p {
    line-height: 1.5;
    margin: 0 40px 0 40px;
}

main button {
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
}

.question {
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
}
